<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Movies Pages</title>
  <link rel="stylesheet" href="./public/style.css">

</head>
<body>
<h1> movies<%= movietitle %></h1>

<div>

<%for(movie of movies) { %>
<div><%= movie.film %> <%= movie.annee %></div>
  <%}%>

</div>

</body>
</html>