<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Movies Pages</title>
  <link rel="stylesheet" href="./public/style.css">

</head>
<body>
<h1> movies-details  <%= moveid %></h1>

<div>

    movies details <%= movietitle %>
</div>

</body>
</html>